// Table of content
// Each section starts with /* NAME */ and ends with /* ///NAME */

// - RESET
// - VARIABLES
// - MIXINS and FUNCTIONS
// - TOPBAR
// - HEADER
// - MENU
// - MISC
// - FOOTER
// - HOME
// - RESPONSIVE


/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section { margin: 0; padding: 0; border: 0; outline:1px; font-weight: inherit; font-style: inherit; font-size: 100%;  text-decoration: none; }

/*:focus, :active { outline: 0; }*/

ol, ul { list-style: none; }
/*a:hover{text-decoration: none;}*/
blockquote:before, blockquote:after { content: ""; }

blockquote { quotes: "" ""; }

header, nav, article, aside, footer, hgroup, section { display: block; }
a { text-decoration: none; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}
/**{outline:none;}*/
/**:focus{outline:none !important}*/
/*a:hover{text-decoration: none;}*/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
button, input, select, textarea {
	margin: 0; 
	font-family: inherit; 
	font-size: 100%;
}

/* ///RESET */

/* VARIABLES */

@bgGray:#fafafa;
@borderGray:#e6e6e6;
@whiteGray: #f9f9f9;
@fairGray: #e5e5e5;
@gray: #f1f1f1;
@textGray:#666666;
@mediumGray: #3f3b3a;


@lightGray: #bdbdbd;
@darkGray: #959595;

@separationGray: #f7f7f7;
@lightGreen: #069554;
@darkGreen: #004844;
@darkerGreen: #00473a; //icons

@lighterBlue: #4da7d7;
// @lightBlue: #1080bd;
@lightBlue: #0081c6;
@darkBlue: #0080c5;

/* ///VARIABLES */

/* MIXINS */

.center{
	max-width:1024px;
	margin:0 auto;
	padding:0px 8px;
	overflow: hidden;
	&.small{
		max-width:775px;
	}
}



.triangle-base() {
    content: '';
    display: block;
    width: 0;
    height: 0;
    -moz-transform: scale(.9999);
}
.triangle(@direction, @size, @color) {
    .triangle(@direction, @size * 2, @size, @color);
}
.triangle(@direction, @width, @height, @color) when (@direction = up) {
    .triangle-base();
    border-left: (@width / 2) solid transparent;
    border-right: (@width / 2) solid transparent;
    border-bottom: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = down) {
    .triangle-base();
    border-left: (@width / 2) solid transparent;
    border-right: (@width / 2) solid transparent;
    border-top: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = left) {
    .triangle-base();
    border-top: (@width / 2) solid transparent;
    border-bottom: (@width / 2) solid transparent;
    border-right: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = right) {
    .triangle-base();
    border-top: (@width / 2) solid transparent;
    border-bottom: (@width / 2) solid transparent;
    border-left: @height solid @color;
}

.transition(@transition: all, @time: 1s){
	-webkit-transition: @transition @time;
	-moz-transition: @transition @time;
	-ms-transition: @transition @time;
	-o-transition: @transition @time;
	transition: @transition @time;
}





.border-radius(@radius: 3px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}

.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;
}


.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}



.arrowButton(@color: @lightGreen){
	.border-radius(6px);
	background-color:@color;
	color:#ffffff;
	height:37px;
	line-height: 37px;
	padding:0 36px 0px 22px;
	display: inline-block;
	margin-bottom:1px;
	text-decoration: none;
	.transition(all, 0.4s);
	&:hover{
		text-decoration: none;
		color:#ffffff;
		.box-shadow(0px 2px 2px @darkGreen);
		margin-top:-1px;
		margin-bottom:2px;
	}
	&:active{
		color:#ffffff;
		text-decoration: none;
		margin-top:0px;
		margin-bottom:1px;		
		.box-shadow(0px 1px 1px @darkGreen);
	}
	&:focus{
		text-decoration: none;
		color:#ffffff;
	}
	&::after{
		content:'';
		background-image:url("../img/icon/arrow_right.svg");
	  width: 16px;
	  height: 26px;
	  margin-left: 10px;
	  margin-top: 11px;
	  background-repeat: no-repeat;
	  position: absolute;		
	}
}


.blocksHub{
	text-align:center;
}
.linkBlock{
	display: inline-block;
	.border-radius(10px);
	border:2px solid @whiteGray;
	// .drop-shadow(@y:0px, @spread:1px, @alpha: 0.05);
	
	width:322px;
	height:184px;
	margin:12px 5px;
	text-decoration: none !important;
	overflow: hidden;
	&.medium{
		width:300px;
		&>div{
			h5{
				width:182px;
			}
			p{
				width:190px;
			}
		}
	}
	&.full{
		color:#ffffff;
		border:2px solid #ffffff;
		// margin-top:2px;
		&.blue{
			background-color:@darkBlue;
			color:#ffffff;
			// border-bottom:8px solid @lighterBlue;
			&>div{
				border-bottom:8px solid @lighterBlue;
			}
			h5{
				color:#ffffff;
			}
			&.fillSvg svg *{
				fill:@lighterBlue;
			}								
		}

	}
	&.blue{
		color:@lightBlue;
		h5{
			color:@lightBlue;
		}
		&>div{
			border-bottom:8px solid @lightBlue;
		}
		svg *{
			fill:@lightBlue;
		}		

	}
	&.green{
		color:@darkGreen;
		border:2px solid lighten(@fairGray, 5%);
		margin: 12px 10px;
		&.lightText{
			color:@lightGreen;
			h5{
				color:@lightGreen;
			}
		}
		h5{
			color:@darkGreen;
		}		
		&>div{
			border-bottom:8px solid @lightGreen;
		}
		svg{
			height: 245px;
			top: -71px;
	    right: 0px;
	    width: 250px;
		}
		&.fillSvg svg *{
			fill:@lightGreen;
		}
		&.cornerIcon{
			svg{
				top: -8px;
		    right: 11px;
		    width: 150px;
		    height: 180px;
			}
		}
		&:hover{
			border:2px solid @fairGray;
		}

	}
	&>div{
		padding:5px;
		height:180px;
		width:325px;
		// .border-radius(5px);
		vertical-align: middle;
		display: table-cell;
		position: relative;

	}
	h5{
		font-size:1.3em;
		text-align: left;
		display: inline-block;
		margin:0px 16px 6px;
		vertical-align: bottom;
		width:182px;
		line-height: 1.2em;
		float:left;
	}
	p{
		text-align: left;
		display: inline-block;			
		margin:0px 16px;
		width:194px;
		font-size:0.8em;
		float:left;
	}	
	&.titleText{
		h5{
			height: 48px;
		}
		p{

		}
	}
	&.downloadLanguage{
		&>div{
			// padding-bottom:24px;
		}
		h5{

		}
		p{

		}
		ul.languageList{
			position: absolute;
			bottom:10px;
			left:14px;
			z-index: 5;
		}
		ul.languageList li{
			display: inline-block;
			font-size:0.7em;
			margin:0px 2px;
			padding:0px 1px;
		}
		ul.languageList li a{
			color:#ffffff;
		}
		&.green{
			.languageList li a{
				color:@lightGreen;
				&.gray{
					color:@fairGray;
				}				
			}			
		}
	}
	&.imgText{
		img, svg{
			position: absolute;			
			top:0px;
			left:0px;
			width:300px;
			height:180px;
			z-index: 0;			
		}	
		p{
			position: absolute;
			bottom:10px;
			font-size:0.9em;
			left:30px;
		}
	}
	svg{
		position: absolute;
		top:-8px;
		right:11px;
		width:150px;
		height:180px;
		z-index: 0;
	}
	img.file-icon{
		width:60px;
		right:26px;
		position: absolute;
	}
	img.image-icon{
		width:88px;
		right:22px;
		position: absolute;
		top:22px;

	}
	&.centerImg{
		img{
    width: 94%;
    text-align: center;
    margin: 0 9px;
		}
	}
	&.textTop{
		p{
	    top: 30px;
	    bottom:auto;
	    font-size: 1.2em;
	    left: 50%;
	    margin-left: -85px;
	    text-align: center;			
		}
		img{
			top:30px;
		}
	}
}



.listImg{
	max-width:755px;
	margin:42px auto;
	h3{
		font-size:1.8em;
		margin-bottom: 24px;
	}
	>ul{
		>li{
			border:1px solid transparent;
			display: block;
			width:100%;
			overflow: hidden;
			margin:22px 0px;
			padding:10px 5px;
			position: relative;
			min-height:140px;
			div:first-child{
		    text-align: center;
		    top: 50%;
		    margin-top: -60px;
		    height:120px;
		    overflow: hidden;
		    display: block;
		    position: absolute;
		    padding:0px;
		    line-height: 120px;
				img{
					max-width:150px;
					max-height:120px;
				}
			}
			div:last-child{
				float:right;
				padding-right:0px;
				h4{
					font-size:1.3em;
					margin:0px 0px 12px 0px
				}
				p{
					color:@textGray;
					line-height:1.9em;
					font-size:1em;
				}
			}
			a{
				color:@lightGreen;
				font-weight: bold;
			}
			&:hover{

			}
		}
	}
}


/* ///MIXINS */



body{
	height:100%;
	width:100%;
	font-size:16px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* TOPBAR */
#t-optionMenu{
	.center;
	padding:3px 8px
}
#t-optionMenu{
	border:none;
}
#ctl03_DSpacer, #t-signin td:nth-child(2){
	color:@separationGray;
	padding:0px 3px;
}
#t-searchSignin{
	width:420px;
}
#t-optionMenu a{
	color:@lightGray;
}
#ctl03_DCurrentLocale{
	color:@darkGray;
}
#t-search input, .t-headerSearch {
    background: url(../img/icon/loupe.svg) no-repeat right 5px;
    background-size: 16px 16px;
    background-origin: content-box;
    height:30px;
    padding:0px 5px;
    margin:3px 5px 0px;
    border:1px solid @lightGray;
    line-height: 30px;
    color: @darkGray;
    .border-radius(5px);

}


#mobileMenu{
	display: none;
	border-bottom:1px solid @fairGray;
	height:42px;	
	button{
		border:none;
		width:32px;
		height:30px;
		.border-radius(5px);	
		float:right;
		margin:5px;	
	}
	>div{
		float:right;
	}
	.t-headerSearch{
		margin-top:5px;
	}
}

#languageMenu{
	button{
		background-color:@lightBlue;
		img{
			width:20px;
		}
	}
	.dropdown-menu{
		color:white;
		width:99%;
		left:auto;
		right:-28px;
		background-color:@lightBlue;
		height:42px;
		width:432px;
		text-align: center;
		.border-radiuses(0px, 7px, 7px, 0px);
		&::before{
    content: '';
    width: 24px;
    display: block;
    height: 24px;
    background: url('../img/icon/fullarrow_up_lightBlue.svg');
    position: absolute;
    top: -12px;
    right: 36px;
		}		
		li{
			display: inline-block;
			height:30px;
			a{
				line-height: 30px;
				display: inline-block;
				height:30px;
				font-size:0.9em;
				padding:2px 4px;
				color:#ffffff;
				&:hover{
					background:transparent;
				}
			}
			&:after{
				content:"|";
		    display: inline-block;
		    padding: 0px 6px 0px 8px;
			}
			&:last-child:after{
				content:'';
				display:none;
			}
		}
	}
}
#siteMenu{
	button{
		background-color:@darkGreen;
		img{
			margin-top:-2px;
			width:16px;
		}
	}
	.dropdown-menu{
		right:3px;
		top: 41px;
		width:365px;
		padding:0px;
		left:auto;
		background-color:@gray;
		border:none;
		.border-radiuses(0px, 7px, 7px, 0px);
		&::before{
    content: '';
    width: 24px;
    display: block;
    height: 24px;
    background: url('../img/icon/fullarrow_up_lightGreen.svg');
    position: absolute;
    top: -12px;
    right: 5px;
		}
		>li{
			background-color:@lightGreen;
			
			&.active a{
				background-color:@darkGreen;
			}
			&.open>a{
				border-left:8px solid @darkGreen;
				&::after{
					background: url('../img/icon/arrow_up.svg');
				}
			}
			>a{
				color:#ffffff;
				height:42px;
				font-size:1.0em;
				line-height: 40px;		
				padding:0px 15px;
				&:hover{
					background-color:lighten(@lightGreen, 2%);
				}
				&::after{
			    content: '';
			    display: block;
			    width: 15px;
			    height: 15px;
			    background: url('../img/icon/arrow_down.svg');
			    background-repeat: no-repeat;
			    position: absolute;
			    right: 15px;
			    margin-top: -26px;
				}
				&:focus{
					background-color:transparent;
				}
			}
			&.open{
				.sub-menu{
					display: block;
				}
			}
		}
		>li:nth-child(1){
			>a:nth-child(1)::after{
				display: none;
			}
		}
		li.li-social{
			background-color:transparent;
			height:auto;
		}

		.sub-menu{
			display: none;
			li{
				width:100%;
				padding-left:24px;
				display: inline-block;
				background-color:#ffffff;
				border-bottom:1px solid @fairGray;
				>a{
					background-color:#ffffff;
					color:#ffffff;
					height:42px;
					font-size:1.0em;
					line-height: 40px;		
					padding:0px 15px;
					width:100%;
					display: inline-block;
					color:@lightGreen;
				}
				&.active{
					>a{
						color:@darkGreen;
					}
				}				
			}
		}		
	}
	.social{
		float:none;
		text-align: center;
		li{
			display: inline-block;
			margin:10px 20px;			
		}
	}

}
.dropdown.open ~ .darkbox{
	display: block;
	opacity:1;
	height:100%;
	width:100%;				
}
.darkbox{
	position: fixed;
	top:42px;
	height:0px;
	width:0px;
	background:fade(@darkGreen, 50%);
	z-index: 500;

	.transition(opacity, 0.4s);
	opacity:0;	
}
/* ///TOPBAR */

/* HEADER */
header{
	.center;
	padding-top:36px;
	padding-bottom:36px;
	overflow: hidden;
}
#logo{
	height:72px;
	float:left;
	width:420px;
}
#logo img{
	height:72px;
	display: inline-block;
}
#logo a:nth-child(2){
	margin:0px 0px 0px 36px;
}
#slogan{
	float:right;
	color:@lightGreen;
	font-size:18px;
	margin:18px 150px 0px 0px;
}
#slogan p{
	width:150px;
}
/* ///HEADER */



/* MENU */

.menu{
	width:100%;
	height:42px;
	overflow: hidden;

}
.menu .center{
	overflow: hidden;
	height:100%;
	position: relative;
}
#main{
	background-color:@lightGreen;
}
#secondary{
	background-color: @darkGreen;
	padding-left:200px;
}
.menu ul li{
	display: inline-block;
	z-index:5;
	position: relative;
	line-height: 42px;

}
.menu ul li.active{
	font-weight: bold;
}
.menu ul.menu_arrow li a{
	color:#ffffff;
	padding:0px 10px;
	margin:0px 8px;
	display: inline-block;
	text-decoration: none;
}
#main ul:nth-child(1){
	float:left;
	height:100%;
	vertical-align:middle;
}

.arrow_slider_wrapper{
	margin:30px 0px 0px;
	position: absolute;
	left:9px;
	z-index: 0;
	top:0px;
	float:left;
}
.arrow_slider{
	background-image: url('../img/icon/fullarrow_up.svg');
	background-repeat: no-repeat;
	background-position: center center;
	width:20px;
	height:20px;	
	// margin-top:-1px;
	position: relative;
	float: left;
	z-index: 0;
}

.arrow_slider.white{
	background-image: url('../img/icon/fullarrow_up_white.svg');
}

.social{
	float:right;
}
.social li{
	margin:0px 5px
}
.social li img{
	width:25px;
	height:25px;
}








#secondary{
	width:100%;
	height:42px;
	background-color:@darkGreen;	
}
/* ///MENU */


/* MISC */

.button{
	.arrowButton(@lightGreen);
}
.button.blue{
	.arrowButton(@lightBlue);
}

.space{
	.center;
	max-width:755px;
	min-height: 120px; 
	position: relative;
	padding-top:38px;

}

.space .button{
	float:right;
}
.space h4{
	float:left;
	color:@lightBlue;
	font-size:1.5em
}


.closeButton{
	width:26px;
	height:26px;
	.border-radius(25px);
	background-image:url('../img/icon/x.svg');
	background-repeat: no-repeat;
	border:none;
}


.article{
	max-width:775px;
	padding:10px;
}
.article h1{
	color:@darkGreen;
	font-size:1.5em;
	margin:36px 0px;
}
.article h2{
	
}
.article h3{
	color:@lightGreen;
	font-size:1.4em;
	margin:26px 0px;
}
.article p{
	font-size:0.9em;
	line-height: 1.8em;
	color:@textGray;
	padding:14px 0px
}
.article p a{
	color:@lightGreen;
}
span.darkGreen{
	color:@darkGreen;
}

// ACCORDION
@accordionWidth: 1024px;

.article.accordion{
	max-width:@accordionWidth;
}
.accordion .panel-heading{
	position: relative;
	overflow: hidden;
	padding:0px;
	height:112px;
	.transition(all, 0.4s);
}
.panel-group  a[aria-expanded=true] .panel-heading{
	height:335px;
} 
.accordion .panel-heading img{
	position: absolute;
	width:@accordionWidth;
	bottom: 50%;
  margin-bottom: -162px;
  z-index:0;
  .transition(all, 0.4s);
}

.accordionTitle{
	background-color:fade(@darkGreen, 50%);
	height: 112px;
	z-index:10;
	position: absolute;
	width:100%;
	color:white;
	display: inline-block;
	vertical-align: middle;
	padding:45px 40px;	
	bottom:0px;
	.transition(all, 0.4s);
}
.panel-group  a[aria-expanded=true] .accordionTitle{
	bottom:5px;
}
.accordionTitle a{
	width:100%;
	height:100%;
	display: inline-block;
	vertical-align: middle;
	padding:45px 40px;
}
.accordionTitle h2{
	font-size:1.4em;
	font-weight: normal;
	color:#ffffff;
	display: inline-block;
}

.accordionTitle .accordionButton{
	float:right;	
}
.accordionButton{
	width:16px;
	height:16px;
	background-repeat: no-repeat;
	border:none;
	background-color:transparent;

}
.panel-group  a[aria-expanded=true] .accordionButton{
	background-image:url('../img/icon/arrow_up.svg')
}
.panel-group a[aria-expanded=false] .accordionButton{
	background-image:url('../img/icon/arrow_down.svg')
}

.accordion .panel-body{
	max-width:775px;
	margin:0 auto;
	padding:0px 15px 72px;
}

.accordion h4{
	color:@textGray;
	margin:16px 0px;
	font-size:1.1em;
	font-weight: bold;
}
.accordion h5{
	color:@textGray;
	margin:16px 0px;
	font-size:1.1em;
	// font-weight: bold;
}


// Bubbles
@padding: 13px;
.bubbles{
	max-width: 700px;
	padding:15px;
	margin:0 auto;
	display: block;
	li{
		display: table;
		width:700px;
		min-height:80px;
		margin:20px auto;
		padding:@padding;
		position: relative;
		border:2px solid @fairGray;
		&:hover{
			border-color:@lightGreen;
		}
		.border-radius(75px);
		p{
			padding-left:60 + @padding;
			display: table-cell;
			vertical-align: middle;
			color:@darkGreen;
			font-size:0.9em;
		}
		&::before{
			display: block;
			position: absolute;
			background-color:@lightGreen;
			line-height: 50px;
			text-align: center;
			color:white;
			font-size:1.2em;
			left:@padding;
			top:@padding;
			width:50px;
			height:50px;
			.border-radius(50px);
		}
		&:nth-child(1)::before{content:'A';}
		&:nth-child(2)::before{content:'B';}
		&:nth-child(3)::before{content:'C';}
		&:nth-child(4)::before{content:'D';}
		&:nth-child(5)::before{content:'E';}
		&:nth-child(6)::before{content:'F';}
		&:nth-child(7)::before{content:'G';}
		&:nth-child(8)::before{content:'H';}
		&:nth-child(9)::before{content:'I';}
		&:nth-child(10)::before{content:'J';}

	}
}



.notice{
	color:@darkGreen;
	font-size: 1.2em;
	line-height: 1.7em;
	margin:12px 0px;
	a{
		color:@lightGreen;
	}
}


.basic-list-p{
	padding-bottom:0px !important;
}
.basic-list{
  font-size: .9em;
  line-height: 1.8em;
  color: #666;
  list-style-type: disc;
  &.round-arrow-bullet{
  	list-style-type: none;
  	li{
  		 list-style-type:none;
	  	&:before{
	  		content:'';
	  		width:12px;
	  		height:12px;
	  		margin:0px 12px 0px 0px;
	  		display: inline-block;
	  		vertical-align: middle;
	  		background:url('../img/icon/round-arrow_right_dark.svg') no-repeat center center;
	  	}  		 
  	}
  }
  li{
		margin-left:18px;
		a{
			color:@lightGreen;
		}
  }
}
ol.basic-list{
	list-style-type: decimal;
}


.wideBackground{
	background-color:@bgGray;
	width:100%;
	padding:20px 15px;
}




// form style
form{
	margin:10px 0px;
	label{
		width:110px;
		text-align: left;
		height:42px;
		float:left;
		line-height: 42px;
		margin:8px 0px;
	}
	.bootstrap-select{
		width:300px !important;
		float:right !important;
		&:focus{
			outline:0 !important;
			border:1px solid @lightGreen;
		}
		.caret{
			border:none;
			background:url('../img/icon/round-arrow_down.svg') no-repeat;
			width:10px;
			height:10px;
			margin-top: -4px !important;
			right:14px !important;
		}
	}
	input, select, .bootstrap-select button{
		border:1px solid @borderGray;
		.border-radius(10px);
		height:42px;
		width:300px;
		background-color:#ffffff;
		display: inline-block;
		margin:8px 0px;
		padding:6px 12px;
		&:focus{
			outline:0 !important;
			border:1px solid @lightGreen;
		}
		&[type=submit]{
			background-color:@lightGreen;
			color:white;
			&:focus{
				outline:0;
				border:1px solid @darkGreen;
			}			
		}
	}
	.form-column{
		max-width:420px;
		input, select, .bootstrap-select button{
			float:right;
		}
	}
}
.bootstrap-select .dropdown-toggle:focus{
	outline:none !important;
	border:1px solid @lightGreen;
}



.search-result{

}



.search-result{
	padding:42px 10px;
	.found{
		display: inline-block;
		color:@textGray;
		height:42px;
		line-height: 42px;
		padding:0px;
	}
	nav{
		display: inline-block;
		float:right;
		height:42px;
		padding:0px;
		ul{
			margin:0;
			float:right;
			li{
				a{
					// border:1px solid transparent;
					color:@lightGreen;
					&:hover{
						color:@darkGreen;
						border:1px solid @lightGreen;
					}
				}
			}
		}
	}
	.listImg{
		li{
			border-top:1px solid @borderGray;
			margin-top:24px;
			padding-top:32px;
			h5{
				color:@darkGreen;
				font-size:1.2em;
			}
			a{
				font-weight: 400;
				margin-bottom:12px;
				display: inline-block;
			}
			&:first-child{
				border:none;
			}
		}
	}
}




/* ///MISC */


/* FOOTER */

#homeFooter{
	background-color:@whiteGray;
	width:100%;
	padding:32px 8px;
	overflow: hidden;
}
#homeFooter ul{
	display: inline-block;
	vertical-align: top;
	margin:12px 0px;
	padding:0px 5px;
	min-height: 160px;
}
#homeFooter ul li a{
	color:@lightGreen;
	font-size:0.8em;
	padding:2px 0px;
	display:inline-block;
}

#homeFooter ul li:nth-child(1) a{
	color:@darkGreen;
}
#homeFooter .copyright{
	display:block;
	margin:108px auto 24px;
	color:@lightGreen;
	font-size:0.9em;
	max-width:200px;
	text-align: center;
}



#footer{
	height:60px;
	width:100%;
	text-align:right;
	padding:36px;
}
#footer ul{
	display: inline-block;
}
#footer ul li{
	display: inline-block;
	margin:0px 12px;
}
#footer ul li a{
	color:@lightGreen;
	font-size:0.9em;
}
#footer .copyright{
	color:@darkGreen;
	display: inline-block;
}
/* ///FOOTER */







/* HOME */
#welcome{
	background-color:@lightBlue;
	border:10px solid @darkGreen;
	min-height:450px;
	width:100%;
	overflow: hidden;

}
#welcome::before{
	content:'';
	background-image:url('../img/logo/un_light.svg');
	background-repeat:  no-repeat;
	background-position: -204px;
	width:450px;
	height:450px;
	position: absolute;
	opacity:0.2;

}
#slider{
	width:850px;
	float:right;
	height:450px;
	border-left:10px solid @darkGreen;

}

#slider > div{
	overflow: hidden;
}
#slider > div img{
	max-height:480px;
	width:100%
}
.slick-slider {
  margin-bottom: 0px;
}
.slick-prev, .slick-next{
	z-index:10;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-prev:before, .slick-next:before{
	content:'';
}
.slick-prev, .slick-prev:hover, .slick-prev:focus{
  background-image:url('../img/icon/slider_left.svg');
  background-repeat: no-repeat;
  width:26px;
  height:26px;
	bottom:62px;
	top:auto;
}
.slick-next, .slick-next:hover, .slick-next:focus{
  background-image:url('../img/icon/slider_right.svg');
  background-repeat: no-repeat;
  width:26px;
  height:26px;
	bottom:62px;
	top:auto;
}

.sliderPopup{
	position: absolute;
	height:160px;
	bottom:0px;
  width: auto;
  max-width: 840px;
	background-color:fade(@darkGreen, 80%);
	padding:10px;
	margin:0px 0px;
	vertical-align: middle;
	text-align: center;
}
.sliderPopup>a{
	// display: inline-block;
}
.sliderPopup h4{
	color:#ffffff;
	font-size:1.9em;
	display: inline-block;
	margin:8px 0px 8px;
	text-align: left;
	width: 80%;
}
.sliderPopup p{
	color:#ffffff;
	display: inline-block;
	vertical-align: middle;
	text-align:left;
	font-size:0.9em;
	line-height: 2.3em;
	width: 80%;
}

#welcome #message{
	color:#ffffff;
	width:auto;
	text-align: center;
	overflow:hidden;
	margin-top:124px;
}
#welcome #message .center{
	max-width:310px;
	overflow: hidden;
	padding:15px;
	text-align: left;
}
#welcome #message .center h1{
	color:#ffffff;
	font-size:3.2em;
	margin-bottom:42px;
}
#welcome #message .center p{
	line-height: 2.3em;
	font-size:0.9em;
}


#map{
	overflow: hidden;
	height: 480px;
	background-color:@lightGreen;
}
#map .sideSelection{
	display:inline-block;
	padding:15px 0px;
}
#map .floatRight{
	float:right;
}
#map .sideSelection h5{
	color:#ffffff;
	text-align: left;
	text-indent: 15px;
	margin-top:20px;
	font-size:1.4em;
}
#map .sideSelection ul{

}
#map .sideSelection ul li{
	color:#ffffff;
	height:37px;
	padding:0px 15px;
	font-size:1em;
	margin:24px 0px;
	min-width:200px;
	line-height: 37px;
	cursor: pointer;
}
#map .sideSelection ul li.active{
	background-color:@darkGreen;
	position: relative;
	z-index: 10;
	.border-radiuses(0px, 0px, 5px, 5px);
	&:after{
		content:'';
		position: absolute;
		right:-37px;
		width:37px;
		height:37px;
		z-index: 10;
		background-image:url('../img/icon/tip_right.svg');
		background-repeat: no-repeat;
	}
}

#map .sideSelection ul li select{
	background-color:@darkGreen;
	width:85px;
	margin-left:20px;
	display: inline-block;
	border-color:@darkGreen;
	color:#ffffff

}

#googlemap{
	display:inline-block;
	overflow: hidden;
	padding:0px;
	position: relative;
	text-align: center;
	z-index: 5;
}

.mapPopup{
	position: absolute;
	min-height:80px;
	bottom:2%;
	width:98%;
	background-color:fade(@darkGreen, 90%);
	padding:10px;
	margin:0 1%;
	vertical-align: middle;
	display: table;
	.border-radius(5px);
}
.mapPopup p{
	color:#ffffff;
	display: table-cell;
	vertical-align: middle;
	max-width: 90%;
}
.mapPopup p a{
	color:@lightGreen;
}
.mapPopup button{
	float: right;
	margin-right:10px;
	margin-top:16px;
	display:block;
}

#googlemap img{
	display: inline-block;
	max-height: 480px;
	width:100%;
}




.logosInline{
	margin-top:64px;
	margin-bottom:32px;
}
.logosInline ul{
	text-align:center;
}
.logosInline ul li{
	display: inline-block;
	margin:6px 14px;
	padding:10px 0px;
}
.logosInline ul li img{
	height:72px;
}


/* ///HOME */


/* ABOUT */


/* ///ABOUT */



/* RESPONSIVE */

@media only screen and (max-width : 1130px) {
	#welcome{
		border-left:none;
		border-right:none;
	}
	#message{
		max-width:310px;
		position: absolute;
    left: 50%;
    margin-left: -155px;		
    margin-top:110px !important;
	}
	#slider{
		border:none;
		border-top:10px solid @darkGreen;
		width: 100%;	
    bottom: 0px;
    margin-top: 400px;
    height:auto;
    .sliderPopup{
			position: relative;
			max-width:100%;
			width:100%;
			height:256px;
    }
		.slick-next, .slick-next:hover, .slick-next:focus{
			height:256px;
			width:25px;
			background-color:fade(@lightGreen, 20);
			right:0px;
			padding-left:12px;
			bacckground-size:10%;
			background-position: center center;
			bottom:0px;
		}
		.slick-prev, .slick-prev:hover, .slick-prev:focus {
			height:256px;
			width:25px;
			background-color:fade(@lightGreen, 20);
			left:0px;
			padding-left:12px;
			bacckground-size:10%;
			background-position: center center;
			bottom:0px;			
		}

	}
}

@media only screen and (max-width : 800px) {
	#logo{
		width:100%;
		text-align: center;
	}
	#slogan{
		margin:0 auto;
		margin: 10px auto;
    width: 100%;
    text-align: center;		
    display: none;
		p{
			display: inline-block;
		}
	}
	#t-optionMenu{
		display: none;
	}
	#mobileMenu{
		display: block;
	}
	#main, #secondary{
		display: none;
	}

}

@media only screen and(max-width:767px){
	.listImg{
		>ul{
			>li{
				border:1px solid transparent;
				display: block;
				width:100%;
				overflow: hidden;
				margin:22px 0px;
				padding:10px 5px;
				position: relative;
				min-height:140px;
				div:first-child{
			    top: 50%;
			    margin-top: 0px;
			    margin-bottom:24px;
			    height:120px;
			    overflow: hidden;
			    display: block;
			    position: relative;
			    padding:0px;
			    line-height: 120px;
					img{
						max-width:150px;
						max-height:120px;
					}
				}
				div:last-child{
					float:left;
					padding-right:0px;
				}
			}
		}
	}	

	.search-result{
		.found{
			float:none;
			text-align:center;
		}
		nav{	
			float:none;
			text-align:center;
			ul{
				float:none;
				text-align:center;
			}
		}
	}
}

/* ///RESPONSIVE */
